server {
    server_name {{ ansible_host }};

    location /static {
        alias /home/{{ ansible_user }}/sites/{{ ansible_host }}/static;
    }

    location / {
        proxy_pass http://unix:/tmp/{{ ansible_host }}.socket;
        proxy_set_header Host $host;
    }

    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/foris.dev/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/foris.dev/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

}

server {
    if ($host = {{ ansible_host }}) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


    listen 80;
    server_name {{ ansible_host }};
    return 404; # managed by Certbot

}